/*Focused item background color in the list*/
.menu-item:focused { -fx-background-color: FFA216; -fx-text-fill: FFFFFF;}
#choice_lang .menu-item:focused { -fx-focus-color: transparent; -fx-faint-focus-color: transparent; -fx-background-color: FFA216; -fx-text-fill: FFFFFF; -fx-cursor: hand; }
#choice_lang{ -fx-focus-color: transparent; -fx-faint-focus-color: transparent; -fx-cursor: hand; -fx-background-color: transparent; -fx-border-color: #E1E1E1; }
#buttoninfo { -fx-focus-color: transparent; -fx-faint-focus-color: transparent; -fx-background-color: transparent; -fx-background-radius: 30px; -fx-border-radius: 30px; -fx-cursor: hand; -fx-border-color: #E1E1E1;}
#buttoninfo:hover { -fx-text-fill: #FFA216; -fx-border-color: #FFA216;}
#button { -fx-focus-color: transparent; -fx-faint-focus-color: transparent; -fx-cursor: hand; -fx-background-color: transparent; -fx-border-color: #E1E1E1;}
#button:hover { -fx-text-fill: #FFA216; -fx-border-color: #FFA216;}
#link_label { -fx-cursor: hand; -fx-underline: true; -fx-font: 12px Arial; -fx-text-fill: #2E8AC9;}
#link_label:hover { -fx-text-fill: FFA216;}
#scrollp { -fx-background-color: transparent;}

/*Dialog-Costomisation*/
.settingsdialog .button { -fx-focus-color: transparent; -fx-faint-focus-color: transparent; -fx-cursor: hand; -fx-background-color: transparent; -fx-border-color: #E1E1E1;}
.settingsdialog .button:hover { -fx-text-fill: #FFA216; -fx-border-color: #FFA216;}
.settingsdialog #deletesave { -fx-text-fill: #BE3131;}
.settingsdialog #check { -fx-focus-color: transparent; -fx-faint-focus-color: transparent;}
.settingsdialog #tffield { -fx-focus-color: transparent; -fx-faint-focus-color: transparent;}